@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{    
    font-family: 'Poppins',sans-serif; 
    font-weight: 550;
}

#home{
    background-color: #121212; 
    color: #f2f2f2;
    user-select: none;
    font-size: 5vw;
    margin: 0;
}
@media screen and (min-aspect-ratio: 1135/978) {
    #home {
        font-size: 5vh;
    }
    
}
#home > #container {
    position: absolute;
    height: 100%;
    width: 100%;

    bottom: 100%;
    transition:cubic-bezier(0,1.03,.56,.96) 1s;
}

hr {
    border: 0;
    height: calc(0.6em - 2px);
    border-top: 2px solid #f2f2f288;
}


.carte{
    background-color: #212121;
    display: inline-block;
    width: fit-content;
    padding: 0.75em;
    border-radius: 20px;
    box-shadow: black 0 0 10px -2px;
}

#orario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 5.25em), -50%);

    width: 3em;
}
#orario img {
    height: 2.7em;
    aspect-ratio: 1/1;

    filter: invert(1);
}

#giorno {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 3em), -50%);
}



#contenitoreBottoni {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    padding: 0.5rem;
    font-size: 1rem;
    transition: 1s;

    background-color: #212121;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
button {
    background-color: #2a2a2a;
    color: #f2f2f2;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    transition: 0.2;
    padding: 0.5em;
    padding-block: 1em;
    box-shadow: black 0 0 10px -4px;

    transition: 0.15s;
}
button:active {
    background-color: #181818;
}


/* CREATE BY ZOWARU,ZANZIGU */