@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
#home{
    background-color: #121212; 
    color: #f2f2f2;
    font-family: 'Poppins',sans-serif; 
    width: 52em;
    overflow-x: scroll;
    overflow-y: hidden;
    user-select: none;
}

.carte{
    background-color: #212121;
    display: inline-block;
    width: fit-content;
    padding: 0.75em;
    border-radius: 10px;
    vertical-align: top;
}
